@font-face {
  font-family: "maven_proregular";
  src: url("font/mavenpro-variablefont_wght-webfont.woff2") format("woff2"),
    url("font/mavenpro-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #bada55;
  --background-color: #191d35;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: #f1f1f1;
  font-family: "maven_proregular", sans-serif;
}

/* Partie scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}

/* Partie Présentation */
.bio-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.greenBtn.bio-contact-btn {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 20px;
  right: 20px;
}
.bio-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7%;
  border: 2px solid var(--main-color);
  background-color: #222f7c60;
  border-radius: 20%;
  text-align: center;
}
.bio-title {
  font-size: 60px;
}
.bio-subtitle {
  margin-top: 10px;
  color: var(--main-color);
}
/* Partie Compétences */
.bio-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.bio-skills .competences-title {
  font-size: 30px;
}
.underlined-title {
  font-size: 40px;
  background-image: linear-gradient(transparent calc(75% - 3px), #4c5bac 5px);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
}
.competences-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.competences-container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.competences-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 23px;
  padding: 20px;
}
.competences-item > img {
  width: 50px;
}
/* Partie photo */
.bio-image {
  width: 450px;
  height: 450px;
  border-radius: 78% 22% 57% 43% / 30% 52% 48% 70%;
  background-color: #f1f1f1;
  animation: morph 10s ease-in-out infinite alternate;
  user-select: none;
}
@keyframes morph {
  0% {
    border-radius: 55% 45% 57% 43% / 30% 52% 48% 70%;
  }
  25% {
    border-radius: 63% 37% 52% 48% / 42% 45% 55% 58%;
  }
  50% {
    border-radius: 27% 73% 29% 71% / 56% 52% 48% 44%;
  }
  75% {
    border-radius: 44% 56% 62% 38% / 42% 60% 40% 58%;
  }
  100% {
    border-radius: 24% 76% 20% 80% / 67% 43% 57% 33%;
  }
}

/* Partie Projets */
.projects {
  width: 100%;
  height: auto;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.projects-title {
  font-size: 40px;
  margin-top: 2%;
}
.projects-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 50px;
  padding: 40px 80px;
}
.projects-item {
  width: 400px;
  height: 650px;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}
.projects-item-img {
  width: 100%;
  height: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.project-todo {
  background-image: url("./img/projets/PostIt.png");
}
.project-gite {
  background-image: url("./img/projets/Gite.png");
  background-position: center;
}
.project-popUp {
  background-image: url("./img/projets/PopUp.png");
  background-size: unset;
  background-repeat: no-repeat;
  background-position: center;
}
.project-arbitrageCrypto {
  background-image: url("./img/projets/ArbitrageCrypto.png");
  background-position: center;
}
.project-monitoring {
  background-image: url("./img/projets/Monitoring.png");
}
.project-poker {
  background-image: url("./img/projets/Poker.png");
}
.projects-item-description {
  width: 100%;
  height: 55%;
  background-color: #183f72a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
.projects-item-title {
  font-size: 30px;
}
.projects-item-languages {
  font-size: 17px;
  margin: 15px 10px 0 auto;
  color: rgb(255, 174, 24);
  align-self: flex-start;
}
.projects-item-languages ~ div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.projects-item-txt {
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4;
  text-align: left;
}
.projects-item-link {
  width: 60%;
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
}
.greenBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #e4e4e4;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--main-color);
  font-size: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.greenBtn:hover,
.greenBtn:focus {
  background-color: var(--main-color);
  color: black;
}

/* Partie Contact */
.contact {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-title {
  margin-top: 2%;
}
.contact-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.contact-form {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  gap: 30px;
  font-size: 25px;
  padding: 30px;
}
.form-group > input,
.form-textarea {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: #e4e4e4;
  font-size: 20px;
  padding: 11px;
  font-family: "maven_proregular", sans-serif;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-group > input {
  height: 40%;
}
.form-textarea {
  width: 110%;
  resize: none;
}
.form-submit-container {
  grid-column: 1 / 3;
  width: 90%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.form-submit {
  font-family: "maven_proregular", sans-serif;
  padding: 15px;
}
.form-message {
  font-size: 20px;
  margin-left: 20px;
  line-height: 1.3;
}
.form-message-success {
  color: var(--main-color);
}
.form-message-error {
  color: #ff8484;
}

.contact-socialNetwork {
  display: grid;
  width: 20%;
  height: 100%;
  padding: 30px;
}
.socialNetwork-link {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 1450px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .bio-image {
    width: 350px;
    height: 350px;
  }
  .bio-title {
    font-size: 50px;
  }
  .bio-subtitle {
    font-size: 23px;
  }
  .bio-skills .competences-title {
    font-size: 25px;
  }
  .competences-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .contact-form {
    width: 90%;
  }
  .form-textarea {
    width: 100%;
  }
  .contact-container {
    padding-bottom: 50px;
    flex-direction: column;
  }
  .contact-socialNetwork {
    width: 90%;
    grid-template-rows: 0;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .socialNetwork-link {
    width: 60%;
    height: 70px;
  }
}

@media screen and (max-width: 980px) {
  .bio-image {
    display: none;
  }
  .bio-left-side {
    padding: 13%;
  }
  .bio-title {
    font-size: 60px;
  }
  .bio-subtitle {
    font-size: 26px;
  }
  .bio-skills .competences-title {
    font-size: 28px;
  }
  .competences-item {
    font-size: 24px;
  }
  .projects-container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 740px) {
  .contact-form {
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: 45% 45% 5%;
    grid-template-columns: 100%;
  }
  .form-group {
    justify-content: space-around;
  }
  .form-textarea {
    grid-row: 2;
  }
  .contact-socialNetwork {
    place-items: center;
  }
  .socialNetwork-link {
    width: 80%;
  }
}

@media screen and (max-width: 690px) {
  .bio-left-side {
    padding: 11%;
  }
  .bio-title {
    font-size: 48px;
  }
  .bio-subtitle {
    font-size: 23px;
  }
  .bio-skills .competences-title {
    font-size: 25px;
  }
  .competences-item {
    font-size: 20px;
  }
  .competences-item > img {
    width: 45px;
  }
}

@media screen and (max-width: 550px) {
  .bio-left-side {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 5px solid var(--main-color);
    border-bottom: none;
    padding: 3%;
  }
}

@media screen and (max-width: 430px) {
  .projects-item {
    width: 300px;
  }
  .projects-item-title {
    font-size: 25px;
  }
  .projects-item-txt {
    font-size: 16px;
  }
  .project-gite {
    background-size: contain;
  }
  .project-arbitrageCrypto {
    background-size: contain;
  }
  .form-message {
    margin-left: 10px;
    font-size: 16px;
  }
  .contact-socialNetwork {
    gap: 50px;
  }
  .socialNetwork-link {
    width: 120%;
  }
}

@media screen and (max-width: 380px) {
  /* COMPETENCES */
  .competences-container {
    flex-direction: column;
    gap: 0px;
  }
  .bio-title {
    font-size: 40px;
  }
  .bio-subtitle {
    font-size: 23px;
  }
  .bio-skills .competences-title {
    font-size: 23px;
  }
  .competences-item {
    height: 50px;
    font-size: 20px;
    padding: 0;
  }
  .competences-item > img {
    width: 35px;
  }

  /* CONTACT */
  .contact-form {
    padding: 15px;
  }
  .form-submit-container {
    grid-column: 1 / 1;
  }
  .contact-socialNetwork {
    gap: 70px;
  }
  .socialNetwork-link {
    width: 140%;
    font-size: 18px;
  }
}
